<!DOCTYPE html>
<html lang="en">

<head> 
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>
    @await Html.PartialAsync("NavbarPartial")
    @RenderBody()
    @await Html.PartialAsync("ScriptsPartial")
</body>

</html>