<!DOCTYPE html>
<html lang="en">

<head> 
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")

   
</head>

<body>
    <!-- Topbar Start -->
    <!-- await Html.PartialAsync("TopbarPartial")-->
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @await Html.PartialAsync("NavbarPartial")
    <!-- Navbar End -->
    <!-- Header Start -->
    @await Html.PartialAsync("HeaderPartial")
    <!-- Header End -->
    <!-- About Start -->
    @RenderBody()
    <!-- Footer Start -->
    @await Html.PartialAsync("FooterPartial")
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    @await Html.PartialAsync("ScriptsPartial")

    <!-- Template Javascript -->
    
</body>

</html>