@using Learning_Site.DTO.CourseManage;
@using Microsoft.AspNetCore.Identity

@model List<SiteNote>
@{
    Layout = "_Layout";
}

<form method="POST" asp-controller="Dictionary" asp-action="Save">
    <h3>Add note</h3>
  <div class="form-group">
       <label for="note">Note text</label>
       <input class="form-control" id="note" type="text" name="note" placeholder="Note" required>
  </div>
    <div class="form-group">
        <label for="transcription">Note transcription</label>
        <input class="form-control" id="transcription" type="text" name="transcription" placeholder="Transcription">
    </div>
    <div class="form-group">
        <label for="translate">Translate</label>
        <input class="form-control" id="translate" type="text" name="translate" placeholder="Translate">
    </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>